<?xml version="1.0"?>
<launch> 
 <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Robot Description -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find pan_tilt_description)/urdf/pan_tilt_st.urdf.xacro" />

  <!-- Load Jackal's description, controllers, and teleop nodes. -->
    <node name="pan_tilt_control" pkg="pan_tilt_driver" type="pan_tilt_control.py" output="screen">
  </node>

  <!-- Spawn Jackal -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
	      args="-urdf -model pan -param robot_description -x 0 -y 0 -z 1.0" />
</launch>
